@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page not found";
}


<div class="container">
    <div class="hgroup">
        <h1>Page not found</h1>
        <ul class="breadcrumb pull-right">
            <li class="active">Something went wrong!</li>
        </ul>
    </div>
    <section class="call_to_action">
        <i class="icon-ambulance icon-4x"></i>
        <h3>We are sorry, the page you requested cannot be found.</h3>
    </section>
</div>