@{
    ViewBag.Title = "Careers";
} 
<div class="container">

        <div class="content-area">
				<!--div class="clearfix">
					<blockquote><h1>Join Us!</h1></blockquote>
					<p>Together we'll forever change how technology drives business. ProximoSoft believes the principles that hold true for clients are equally important for candidates.
                       A team that sees possibilities, thrills customers, solves complex puzzles and innovates with abandon. Sound like you? Join us.</p>
                </div>
				<img class="superstar-image" src="/images/Company_header.png" alt="super stars"-->
</div>

    
    <div class="content-area">
        <script type='text/javascript' src='https://www.smartrecruiters.com/img/script/smartWidget/smart_widget.js'>
            </script>
        <script type='text/javascript' class='job_widget'>
            widget({
	            "searchField":"",
	            "company_code":"proximosoft",
	            "bg_color_widget":"#ffffff",
	            "bg_color_headers": "#969696",
	            "bg_color_links": "#babec2",
	            "txt_color_headers":"#292929",
	            "txt_color_job":"#3d3d3d",
	            "bg_color_even_row":"",
	            "bg_color_odd_row":"#f7f7f7",
	            "custom_css_url":"https://www.smartrecruiters.com/img/style/smartWidget/smart_widget.css",
	            "auto_width":"auto",
	            "auto_height":"auto",
	            "number":"on",
	            "job_title":"true",
	            "location":"true",
	            "add_search":"true"
            });
            </script>
    </div>
    @section scripts{
    
            

    }




    </section>


</div>
