@{
    ViewBag.Title = "Our Clients";
} 
<div class="container">
    <section id="services">
        <div class="hgroup">
            <h1>Our Clients</h1>
            
            <ul class="breadcrumb pull-right">

                <li class="active">Clients</li>
            </ul>
        </div>
        <div class="span3">
            <p>Here we present our extensive portfolio of clients - spanning a wide range of verticals.</p>
    <p>The work that we have done for these clients reflects the range and quality of our services.</p>
    <p>Our work spans a variety of industries, including life sciences, energy, financial services and more. Here is a sampling:</p>

        </div>
<div class="span8">
        <img class="clients_all" src="/images/clients1.gif" alt="our clients">
</div>
        
</section>
</div>