<section id="slider_wrapper">
    <div id="main_flexslider" class="flexslider">
        <ul class="slides">
            <li class="item" style="background-image: url(/images/slide-1.jpg)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            <strong>TECHNOLOGY IS THE PATH TO FUTURE</strong>!
                        </h1>
                        
                    </div>
                </div>
            </li>
            <li class="item" style="background-image: url(/images/slide-2.jpg)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                           WE HELP YOU BE AWESOME AT WHAT YOU DO!
                        </h1>
                        <p class="lead inverse">Providing the best service so you can concentrate on your thing</p>
                    </div>
                </div>
            </li>
            <li class="item" style="background-image: url(/images/slide-3.jpg)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            <strong>SMALL ENOUGH TO BE PERSONAL. LARGE ENOUGH TO BE RELIABLE AND STABLE.</strong>
                        </h1>
                        <p class="lead">
                            ProximoSoft  is a technology driven IT solutions company providing innovative services, products, and resources.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

    <div class="container">
       
        <section id="features_teasers_wrapper">

            <div class="row">
                <div class="span3 feature_teaser">
                  <a href="/Services/">
                    <img alt="our services" src="/images/engine.png">
                    <h3>Our Services</h3>
                    <p>
                        Achieve sustainable advantages with comprehensive services that deliver the fastest time-to-value in the industry.
                    </p>
                   </a>
                </div>
                <div class="span3 feature_teaser">
                    <a href="/Services/">
                    <img alt="our solution" src="/images/bulb.png">
                    <h3>Our Solutions</h3>
                    <p>We deliver customized solutions focused on delivering critical business information, increasing efficiency and reducing costs.</p>
                    </a>
                </div>
                <div class="span3 feature_teaser">
                    <a href="/Industries/">
                    <img alt="Industries" src="/images/bag.png">
                    <h3>Industries Served</h3>
                    <p>Our experience, flexibility and solutions-oriented approach allows us to thrive in multiple industrial sectors.</p>
                    </a>
                </div>
                <div class="span3 feature_teaser">
                    <a href="/about/">
                    <img alt="responsive" src="/images/award.png">
                    <h3>Our Difference</h3>
                    <p>
                    By balancing business analysis with technology expertise, we help you meet escalating performance demands.
                    </p>
                    </a>
                </div>
            </div>
        </section>
         <section class="call_to_action">
             <div class="span4 welcome">
                  <h3>Welcome</h3>
                  <p>Tap into our knowledge, expertise, innovation and world-class services to achieve better results for your enterprise. 
            Access and apply technology in new ways to optimize your operations – with our leading services for the cloud, security, and information management and analytics you’ll be positioned for success</p>
             <a class="btn btn-info btn-small" href="/Services">More...</a>
             </div>
             <div class="span1"></div>
             <div class="span6">
                        <h3>Latest News</h3>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="media-photo" style="background-image:url(/images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">01<span>JUL</span></a>
                                <h5 class="media-heading"><a href="#">SharePoint training...</a></h5>
                                <p>ProximoSoft is now offering SharePoint training for .net developers...</p>
                            </li>
                            <li class="media">
                                <a href="#" class="media-photo" style="background-image:url(/images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">20<span>March</span></a>
                                <h5 class="media-heading"><a href="#">ProximoSoft participates in the CIO/CTO Roundtable at IASA...</a></h5>
                                <p>ProximoSoft participates in the CIO/CTO Roundtable at IASA Educational Conference & Business Show to talk about “Using Consultants: What Are the Keys to Success?”...</p>
                            </li>
                        </ul>
                    </div>
           </section>
       
    </div>

        <section id="twitter_feed_wrapper">
            <div class="container">
                <div class="row">
                    <div class="span1 twitter_feed_icon"><a href="#twitter"><i class="icon icon-twitter-sign"></i></a></div>
                    <div class="span11">
                        <blockquote>
                            <p>Wordle creates Typographic images from any txt or even your delicious bookmarks. Here is my untitled from Anonymous <a href="#">http://unhub.com/LIot</a></p>
                            &mdash; LeonART (@@leonartgr) <a href="https://twitter.com/leonartgr/">January 25, 2013</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
       
