@{
    ViewBag.Title = "Training";
}
<div class="container">
    <section id="services">
        <div class="hgroup">
            <h1>Training</h1>
            
            <ul class="breadcrumb pull-right">

                <li class="active">Training</li>
            </ul>
        </div>
<div class="text-1"><span class="bold">Training at ProximoSoft Inc. can be classified into 4 groups: </span><br><br>
•	Process specific training pertaining to our Information Technology Solutions and services.<br>
•	Communication training covering aspects of usage of the English language on both written and the spoken form. <br>
•	Leadership training programs and workshops on team work and personality development. <br>
<br>
<span class="bold">Process Training</span>

<br><br>



Employee care starts from day one and it holds more value to us by the way we facilitate a structured learning environment. <br><br>

•	Every new hire is subject to domain specific training by experienced personnel who are subject matter experts.<br><br> 
•	Depending on the type of process, training schedules are drawn which encompass classroom sessions, lab exercises and assessments. <br><br>
•	Usage of internally developed training manuals and Computer Based training tools are used to sharpen the saw on a regular basis. <br><br>
•	Regular feedback is given to the trainees to sensitize them with the learning curve. <br><br>
•	A well-defined On-the-job-training (OJT) model is defined and practiced to ensure that every new learner is hand-held into live operations with ease. <br><br>

<span class="bold">Communication Training</span><br><br>



Regular interaction with internal and external customers is a mandatory element in getting work done within specified time limits. In order to fine tune the same, every employee is groomed on the essential aspects of the English language. This not only helps them at work but also adds a feather in their cap by helping in projecting themselves as world class professionals. <br><br>

•	An internally developed 40 hour communication training module is a must attend for every employee. <br><br>
•	Special coaching sessions by industry experts are also part of this initiative to add that extra edge to our Information Technology Solutions and Services. <br><br>

<span class="bold">Leadership Training</span>

<br><br>




ProximoSoft Inc. harbors a healthy workforce which is one of mutual understanding, trust and camaraderie. In order to maintain this state, we consider it important for the supervisory and management staff to be exposed to the intricacies of managing people. This initiative is driven by taking the help of the best players in the market currently who come and share their knowledge on elements of leadership, employee motivation and team building. <br><br>

1. SAP on Cloud Training<br><br>

• Train Qualified SAP basis resources and place them. Train SAP resources on :<br><br>

Virtualization
Cloud Computing
Migration to Cloud
SAP Landscape Design for Cloud

• Train SAP professional without no Commitment (Pure Training).<br><br>
<div class="pera">
Virtualization<br>
Cloud Computing<br>
Migration to Cloud<br>
SAP Landscape Design for Cloud<br><br></div>

2. SAP Cloud Hosting (Pure Hosting for SAP nonproduction Landscape)<br><br>

3. SAP Cloud Hosting (Verizon Terremark Referral 10-18% Margin)<br><br>

4. SAP Cloud Hosting (Verizon Terremark Resell 12-38% Margin)<br><br>

5. SAP Cloud Migration (Physical to Virtual and/or Cloud) (Service Not Recurring)<br><br>
<div class="pera">
a. Planning<br>
b. Design of SAP in Cloud<br>
c. Migration To Cloud<br>
d. Post Migration Support<br><br>
</div>
6. VCE Sales Training (10-12 Engagements / Year)<br><br>

7. VCE Pre-Sales Support for SAP on Cloud (20 Engagements/ Year)<br><br>

<span class="bold">What we do</span><br><br> 1.SAP Non-Production System Hosting (End to end Setup) in  a secure environment <br>
<br>
2.SAP Virtualization/Cloud Migration Planning (end to end) <br>
<br>
3.SAP on Cloud Training (Corporate) <br>
<br>
4.&nbsp;SAP Private Cloud (Vblock) Migration Planning <br>
<br>
5.&nbsp;SAP HANA Technical Design and Planning <br>
<br>
6.SAP BASIS Staff Augmentation <br>








</div>
                        </section>
</div>