@{
    ViewBag.Title = "Services";
}
<div class="container">
    <section id="services">
        <div class="hgroup">
            <h1>Services</h1>
            
            <ul class="breadcrumb pull-right">
                
                <li class="active">Serivces</li>
            </ul>
        </div>
<article class="post">ProximoSoft is a leading provider of technology resource solutions for Fortune 500 and premier companies.  From single development resource needs to staffing entire project teams, our unique client-centric approach makes ProximoSoft  the essential resource in delivering or supporting key technology initiatives on both local and national levels.<br>
                          <br>
                          
With more than 10 years of experience, we have developed customized solutions to our client needs that allow us to deliver perfectly timed resources in four major technology specializations – Functional Engagements, Development, Enterprise Data Management and Infrastructure. <br><br>

<strong>The Group Company profile encompasses the following: </strong><br>
•	IT Solutions<br><br>
Areas of Expertise<br>
•	Application Development<br>
•	Maintenance and Support<br>
•	E-Learning<br>
•	Quality Assurance<br><br>

Delivery Models<br>
•	On-site<br>
•	Off-site<br>
•	Off-shore<br>
•	Hybrid<br>
•	Staffing<br>
•	Staff Augmentation (Contingent Workforce)<br>
•	Permanent Placement<br>



&nbsp;&nbsp;&nbsp; </article>
                        </section>
</div>